<div class="col-12">
	<div class='card-body'  *ngFor="let article of articles">
		<div ng-bind-html>	<h2>{{article.title}}</h2>
	  
			<div [innerHTML]="(article.content.length>60)? (article.content | slice:0:500)+'..':(article.content)"></div>
			<a class="btn btn-secondary btn-sm" href="#" role="button">Link</a>
			<!--<a href="{{article.content}}">Read full article</a>-->
			<button (click)="readArticle(newUrl)" class="btn btn-secondary btn-sm">
			Submit link</button>
		</div>	
	</div>
</div>